.element {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 2rem solid;
}

.down {
    position: absolute;
    bottom: 0;
    left: calc(50% - 6rem);
}

#rock {
    background: url(../../images/icon-rock.svg) no-repeat center;
    background-position: center;
    background-size: 4rem;
    background-color: #fbfbfb;
    border-color: hsl(349, 71%, 52%);
}

#paper {
    background: url(../../images/icon-paper.svg) no-repeat center;
    background-position: center;
    background-size: 4rem;
    background-color: #fbfbfb;
    border-color: hsl(230, 89%, 62%);
}

#scissors {
    background: url(../../images/icon-scissors.svg) no-repeat center;
    background-position: center;
    background-size: 4rem;
    background-color: #fbfbfb;
    border-color: hsl(39, 89%, 49%);
}

#not-selected {
    width: 10rem;
    height: 10rem;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
}

@media (max-width: 360px) {
    .element {
        width: 10rem;
        height: 10rem;
        border: 1.5rem solid;
    }
}