* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.painel, .painel-final {
    height: 60vh;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
}
.painel{ 
    width: 40%;
    position: relative;
}

.painel-final {
    width: 50%;
    align-items: center;
}

.final-result {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.result-text {
    text-align: center;
    color: #fbfbfb;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.reset-button {
    height: 3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #fbfbfb;
    color: hsl(349, 70%, 56%);
    font-size: 1.2rem;
}

.element-chosen {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.element-chosen p {
    color: #fbfbfb;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.attribution { 
    font-size: 1rem; 
    text-align: center;
    color: #fbfbfb;
}

.attribution a { 
    color: hsl(189, 58%, 57%);
}

@media (max-width: 1140px) {
    html {
        font-size: 93.75%;
    }

    .painel{ 
        width: 50%;
        height: 55vh;
    }

    .painel-final {
        width: 80%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
    .painel{ 
        width: 60%;
        height: 50vh;
    }

    .painel-final {
        width: 100%;
        padding: .5rem;
    }

    .result-text {
        font-size: 2rem;
    }
}

@media (max-width: 560px) {
    html {
        font-size: 81.25%;
    }

    .painel{ 
        width: 80%;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 75%;
    }

    .painel{ 
        width: 90%;
        height: 45vh;
    }

    .final-result {
        min-width: 60px;
    }

    .result-text {
        font-size: 1rem;
    }

    .reset-button {
        font-size: 1rem;
    }

    .element-chosen p {
        font-size: 1rem;
        letter-spacing: 1px;
    }
}



